In [1]:

import pymongo
import pandas as pd

from bson.json_util import dumps
myclient = pymongo.MongoClient("mongodb+srv://Timhore_123:Timhore123@cluster0.hj64h.mongodb.net/test") # server mongoDB
mydb = myclient["Dataset"] # nama database
mycol = mydb["house_data"] # nama collection
query = mycol.find() # query yang dijalankan menhasilkan data tipe cursor
list_query = list(query) # konversi cursor menjadi list
json_data = dumps(list_query, indent = 2)
df = pd.read_json(json_data)
df.isna().sum()

_id              0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [2]:
df.head()

,_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,{'$oid': '62c3a25fd6355f6f88bffcaf'},2014-05-02,313000.0,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,{'$oid': '62c3a25fd6355f6f88bffcb0'},2014-05-02,2384000.0,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,{'$oid': '62c3a25fd6355f6f88bffcb1'},2014-05-02,342000.0,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,{'$oid': '62c3a25fd6355f6f88bffcb2'},2014-05-02,420000.0,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,{'$oid': '62c3a25fd6355f6f88bffcb3'},2014-05-02,550000.0,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA