In [3]:

import pymongo
import pandas as pd

from bson.json_util import dumps
myclient = pymongo.MongoClient("mongodb+srv://yuda_28:Raflywirayuda28@cluster0.hj64h.mongodb.net/test") # server mongoDB
mydb = myclient["coba_dataset"] # nama database
mycol = mydb["house"] # nama collection
query = mycol.find() # query yang dijalankan menhasilkan data tipe cursor
list_query = list(query) # konversi cursor menjadi list
json_data = dumps(list_query, indent = 2)
df = pd.read_json(json_data)
df.isna().sum()

_id            0
price          0
bedrooms       0
bathrooms      0
sqft_living    0
condition      0
yr_built       0
dtype: int64

In [6]:
df.head()

,_id,price,bedrooms,bathrooms,sqft_living,condition,yr_built
0,{'$oid': '62c2f5517e5b7af76ae979ed'},313000.0,3,1.50,1340,3,1955
1,{'$oid': '62c2f5517e5b7af76ae979ee'},2384000.0,5,2.50,3650,5,1921
2,{'$oid': '62c2f5517e5b7af76ae979ef'},342000.0,3,2.00,1930,4,1966
3,{'$oid': '62c2f5517e5b7af76ae979f0'},420000.0,3,2.25,2000,4,1963
4,{'$oid': '62c2f5517e5b7af76ae979f1'},550000.0,4,2.50,1940,4,1976